version: "3"

services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             daphne app.asgi:application --port 8000 --bind 0.0.0.0"
    environment:
      - DB_HOST=db
      - DB_NAME=chat
      - DB_USER=postgres
      - DB_PASS=supersecret
      - DB_PORT=5432
    depends_on:
      - db
      - redis
  db:
    image: postgres:10-alpine
    environment:
      - POSTGRES_DB=chat
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecret
  redis:
    image: redis:2.8
    ports:
      - 6379:6379
    depends_on:
      - db
